body{
  background: radial-gradient(rgba(80,80,80,1) 0%, rgba(56,56,56,1) 50%, rgba(32,32,32,1) 100%);
  font-family:'Courier New', Courier, monospace;
}

h1 {
  text-decoration: underline rgb(0, 67, 167);
  color: rgb(115, 201, 255);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

h2{
  color: rgb(50, 107, 207);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

h3{
  color:rgb(150,150,150);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}


#pagecontainer
{
  display:flex;
  align-items: center;
  justify-content: center;
}


#page1{
  display:grid;
  text-align: center;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 25% 25% 30% 30%;
}

#page2{
  text-align: center;
}

#page3{
  background:blue;
  display:grid;
  text-align: center;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 25% 25% 30% 30%;
}

.page{width:90vw;height:80vh;}
nav ul{display:inline; align-items: center; justify-content: center;}
nav ul li{display:inline; align-items: center; justify-content: center;}

/*for responsive menu*/
#hamIcon{display:none; margin: auto}

.button {
  border: 5px solid black; /* Green */
  color: rgb(0, 67, 167);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  width:30.5%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  cursor: pointer;
}
  
.button:hover {opacity: 1}

.button:active {background-color: lightgray}


  .buttonNormal {background-color: gray;}
  .buttonOnPage {background-color: rgb(168, 168, 168); opacity: 1;
}

#chinesePageBtn
{
  background: rgb(200, 0, 0);;
  width:100%;
  color:black;
}

#malayPageBtn
{
  background: rgb(0, 200, 0);;
  width:100%;
  color:black;

}

#indianPageBtn
{
  background: rgb(0, 0, 200);;
  width:100%;
  color:black;

}

#pageChineseFood
{
  background: rgb(255, 0, 0,0.25);
  height:0%;
  width:99%;
  display:inline-block;
  text-align:left;
  border: 2px solid black;
  
  transition: height 1s;
}

#pageMalayFood
{
  background: rgb(0, 255, 0,0.25);;
  height:0%;
  width:99%;
  display:inline-block;
  text-align:left;
  border: 2px solid black;

  transition: height 1s;
}

#pageIndianFood
{
  background: rgb(0, 0, 255,0.25);;
  height:0%;
  width:99%;
  display:inline-block;
  text-align:left;
  border: 2px solid black;

  transition: height 1s;
}

.foodText
{
  font-weight: bold;
  padding-left: 20;
  padding-right: 20;
  color:gray;
}

.foodGroupLeft
{
  display: inline-flex;
  justify-content: left;
  text-align: left;
  padding-left: 50;
  padding-bottom: 50;
  width:90%;
}

.foodGroupRight
{
  display: inline-flex;
  justify-content: right;
  text-align: right;
  padding-left: 50;
  padding-bottom: 50;
  width:90%
}

.chineseFoodPicture
{
  opacity: 0;
  transition: opacity 0.5s;
}

.malayFoodPicture
{
  opacity: 0;
  transition: opacity 0.5s;
}
.indianFoodPicture
{
  opacity: 0;
  transition: opacity 0.5s;
}

@media screen and (max-width:800px){
  nav ul li{display:block;} /*make a menu items vertical*/
  #hamIcon{display: block;} /* unhide menu icon */
  nav ul{display:none;} /*hide the menu item list*/

  .page{height:135vh;}

  .foodGroupLeft
  {
    display:block; 
    justify-content: center; 
    text-align: center; 
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .foodGroupRight
  {
    display:block; 
    justify-content: center; 
    text-align: center; 
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .foodText
  {
    display:block; 
    justify-content: center; 
    text-align: center; 
    padding: 0;
    margin-left: auto;
    margin-right: auto;

  }
  
}