body{
  background: radial-gradient(rgba(80,80,80,1) 0%, rgba(56,56,56,1) 50%, rgba(32,32,32,1) 100%);
  font-family:'Courier New', Courier, monospace;
}

h1 {
  text-decoration: underline rgb(0, 67, 167);
  color: rgb(115, 201, 255);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

#pagecontainer
{
  display:flex;
  align-items: center;
  justify-content: center;
}
.page{width:95vw;height:80vh;border:1px solid red;}
nav ul li{display:inline; align-items: center; justify-content: center;}

#page1{
  background:red;
  display:grid;
  text-align: center;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 25% 25% 30% 30%;
}
#page2{
  background:green;
  display:grid;
  text-align: center;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 25% 25% 30% 30%;
}

#page3{
  background:blue;
  display:grid;
  text-align: center;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 25% 25% 30% 30%;
}


/*for responsive menu*/
#hamIcon{display:none;}

@media screen and (max-width:800px){
  nav ul li{display:block;} /*make a menu items vertical*/
  #hamIcon{display: block;} /* unhide menu icon */
  nav ul{display:none;} /*hide the menu item list*/
  
}

.button {
  border: 5px solid black; /* Green */
  color: rgb(0, 67, 167);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  width:30%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  margin: -8px 12px;
  cursor: pointer;
}
  
.button:hover {opacity: 1}

.button:active {background-color: lightgray}


  .buttonNormal {background-color: gray;}
  .buttonOnPage {background-color: rgb(168, 168, 168); opacity: 1;
}

